<div class="card course-info">
<section class="main-course">
  <div class="main-info">
    <div class="title">
      <h1>{{ course.title }}</h1>
      <p>Por: {{ professorsText }}
      </p>
    </div><!--
    --><div class="sales">
      <p>Puedes acceder a este curso con Tarjeta (crédito o débito), Depósito (Agente BCP) y Puntos</p>
      <button ng-click="addToCart(course)"><i class="fa fa-shopping-cart"></i> ¡Quiero este curso!</button>
    </div>
  </div>

  <div class="video-info">
    <div class="video-container">
    <div class="video-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/n95eekfFZZg" frameborder="0" allowfullscreen></iframe>
    </div></div><!--
    --><div class="side-info">
      <h4>Información</h4>
      <ul>
        <li>
          <i class="fa fa-play-circle-o"></i>
          <span>{{ course.classes }} clases</span>
        </li>
        <li>
          <i class="fa fa-clock-o"></i>
          <span>{{ course.duration }}</span>
        </li>
        <li>
          <i class="fa fa-circle"></i>
          <span>Nivel: {{ course.level }}</span>
        </li>
        <li>
          <i class="fa fa-download"></i>
          <span>0 archivos adjuntos</span>
        </li>
        <li>
          <span class="tiny-text">Publicado el {{ course.created_at | date:'dd/MM/yyyy' }}</span>
        </li>
      </ul>
      <h4>Instructor</h4>
      <article class="professor-card">
        <figure>
          <img ng-src="{{ course.professors[0].image_url }}" alt="">
        </figure><!--
        --><div class="professor-info">
          <h5>{{ course.professors[0].name }}</h5>
          <p>{{ course.professors[0].bio }}</p>
        </div>
      </article>
    </div>
  </div>
</section>

<section class="info-course">
  <div class="info-course-container">
  <h3>Sobre el curso:</h3>

  <div class="info-section">
    <h5>Descripción del curso</h5>
    <p>{{ course.description }}</p>
  </div>

  <div class="info-section">
    <h5>¿Qué vas a lograr con este curso?</h5>
    <p>{{ course.goal }}</p>
  </div>

  <div class="info-section">

    <h5>Programa del curso</h5>

    <div ng-repeat="part in parts">
      <h6>MÓDULO {{ part.number }}: {{ part.title }}</h6>
      <ul>
        <li ng-repeat="topic in part.topics">
          <i class="fa fa-lock"></i>
          <span>{{ topic.title }}</span>
          <!-- <em>05min</em> -->
        </li>
      </ul>
    </div>
  </div>

  <div class="info-section">
    <h5>Certificado</h5>
    <p>{{ course.certificate_info }}</p>
  </div>

  <div class="info-section">
    <h3 ng-if="course.professor.length === 1">Sobre el instructor:</h3>
    <h3 ng-if="course.professor.length !== 1">Sobre los instructores:</h3>

    <article class="professor-card" ng-repeat="professor in course.professors">
      <figure>
        <img ng-src="{{ professor.image_url }}" alt="">
      </figure><!--
      --><div class="professor-info">
        <h5>{{ professor.name }}</h5>
        <p>{{ professor.bio }}</p>
      </div>
    </article>
  </div>
  <button ng-click="addToCart(course)"><i class="fa fa-shopping-cart"></i> ¡Quiero este curso!</button>
  </div>
</section>
</div>