<div class="shopping-cart modal">
  <div class="cart-header">
    <i class="fa fa-shopping-cart"></i>
    <h4>Carrito de Compras</h4>
  </div>
  <div class="cart-body">
    <article ng-repeat="item in cart.products">
      <h5>{{ item.name }}</h5><!--
      --><span class="price">S/ {{ item.pricetag | number: 0 }}</span>
      <div class="close-button" ng-click="cart.removeItem(item)">
        <i class="fa fa-times"></i>
      </div>
    </article>
  </div>
  <div class="cart-discount" ng-if="cart.discount">
    Descuento: - S/ {{ cart.discount_applied | number: 0 }}
  </div>
  <div class="cart-footer">
    <div class="cart-total">
      <span>TOTAL:</span>
      <span>S/</span>
      <span class="total-price">{{ cart.total | number: 0 }}</span>
    </div>
  </div>
</div>