<div class="card">
  <div class="full-container card card-padding">
    <h2>Pendientes de Pago</h2>
    <table class="table td-bg" ng-if="payments.length > 0">
      <thead>
        <tr>
          <th class="thin-column">Nombre del alumno</th>
          <th class="text-left">Usuario</th>
          <th class="text-left">Detalle del pedido</th>
          <th class="text-left">Fecha de pedido</th>
          <th class="text-left">Modo de pago</th>
          <th class="text-left" colspan="3">Administrar</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="payment in payments">
          <td class="text-left">{{ payment.user.fullname }}</td>
          <td class="text-left">{{ payment.user.nickname }}</td>
          <td class="text-left">
            <a href="#" ng-click="openDetails(payment)" ng-if="!payment.ambassador && payment.type.id != 1">Ver</a>
            <span ng-if="payment.ambassador && !payment.monthly">Plan Embajador</span>
            <span ng-if="payment.monthly">Mensualidad</span>
            <span ng-if="payment.type.id == 1">Retiro de S/ {{ payment.total | number: 0 }}</span>
          </td>
          <td class="text-left">
            <span>
              {{ payment.created_at | date:'dd/MM/yyyy' }} &nbsp;&nbsp;&nbsp; {{ payment.created_at | date:'H:mm' }}
            </span>
          </td>
          <td class="text-left">
            <span>{{ payment.paymethod.name }}</span>
          </td>
          <td class="no-padding">
            <a href="javascript:void(0)" ng-click="activate(payment.id, $event)" class="btn button-ico" ng-hide="payment.type.id == 1">
              Activar
            </a>&nbsp;
            <a href="javascript:void(0)" ng-click="pay(payment.id, $event)" class="btn button-ico" ng-show="payment.type.id == 1">
              Pagar
            </a>&nbsp;
            <a href="javascript:void(0)" ng-click="back(payment.id, $event)" class="btn button-ico" ng-show="payment.type.id == 1">
              Devolver
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert-container important" ng-hide="payments.length > 0">
      <i class="fa fa-warning"></i>
      <span>No se encontraron pagos pendientes.</span>
    </div>
  </div>
</div>