.shopping-cart {
  background-color: white;
  min-height: 500px;
  position: fixed;
  right: -305px;
  top: 69px;
  transition: right .3s ease;
  width: 300px;
  z-index: 51;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.42);
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.42);
  &.show { right: 0; }

  .cart-header {
    padding: .5em 1em;
    border-bottom: 1px solid lighten($medium-gray, 30);
    h4 {
      display: inline-block;
      font-size: 1.2em;
      margin-left: .5em;
    }
    .fa-shopping-cart { font-size: 1.2em; }
    .fa-long-arrow-right {
      color: $purple;
      cursor: pointer;
      float: right;
      margin-top: 4px;
    }
  }

  .cart-body {
    h5 {
      color: $purple;
      display: inline-block;
      font-size: .9em;
      font-weight: normal;
      width: calc(100% - 65px);
    }
    article {
      background-color: lighten($medium-gray, 40);
      border-bottom: 1px solid lighten($medium-gray, 37);
      padding: .7em 1em;
      position: relative;
      &:nth-child(2n) { background-color: white; }
      &:hover {
        background-color: lighten($purple, 65);
        .close-button { opacity: 1; }
      }
    }
    .price {
      color: $medium-gray;
      display: inline-block;
      font-size: .85em;
      position: absolute;
      vertical-align: top;
      top: 50%;
      right: 2em;
      transform: translateY(-50%);
      text-align: right;
      width: 60px;
    }
    .close-button {
      background-color: #ED6968;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      font-size: .55em;
      padding: .1em;
      opacity: 0;
      position: absolute;
      right: 5px;
      text-align: center;
      top: 8px;
      transition: opacity .3 ease;
      width: 13px;
    }
  }
  .cart-footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    .cart-total {
      background-color: #39A935;
      color: white;
      padding: 1em .5em;
    }
    .cart-pay {
      padding: 1em;
      button {
        font-size: .8em;
        font-weight: bold;
        width: 230px;
      }
    }
  }
  &.modal {
    display: block;
    padding: 0;
    top: 50%;
    left: 50%;
    height: 500px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    article:hover {
      background-color: lighten($medium-gray, 40);
      &:nth-child(2n) { background-color: white; }
      .close-button { display: none; }
    }
  }
}

.billing-cart .shopping-cart {
  position: relative;
  right: auto;
  top: auto;
  article:hover {
    background-color: lighten($medium-gray, 40);
    &:nth-child(2n) { background-color: white; }
    .close-button { display: none; }
  }
}