.card-course {
  h2 { margin-bottom: 0; }
  .tagline {
    text-align: left;
  }
  .course-main {
    display: flex;
    margin-bottom: 2em;
    .video-wrapper-wistia {
      flex-basis: 65%;
      margin-right: 3%
    }
    .parts-container {
      flex-basis: 32%;
    }
  }
}

.professor-hover .tagline {
  color: white;
  font-weight: bold;
}

.parts-container {
  background-color: white;
  max-height: 363px;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.12);
}

.part-header {
  border-bottom: 1px solid $gray-border;
  padding: .4em 1em;
  h4 {
    display: inline-block;
    margin-left: 1.5em;
  }
}

.part-topic {
  border-bottom: 1px solid $gray-border;
  cursor: pointer;
  padding: .4em 1em .4em 2.6em;
  position: relative;
  h5 { font-weight: normal; }
  &.active, &:hover { background-color: $gray-border; }
  .fa {
    left: 16px;
    position: absolute;
    &.fa-lock { color: $purple; }
    &.fa-circle { color: green; }
  }
}

.course-tabs {
  li {
    border-bottom: 1px solid black;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: .1em 1em;
  }
  .current-tab {
    color: $purple;
    border-bottom: 2px solid $purple;
  }
}

.course-information, .course-grades, .course-certificate { padding: 2em 1em; }

.course-information {
  h3 {
    color: $purple;
    margin-left: 0;
    font-weight: bold;
  }

  .info-section { margin-bottom: 1.5em; }
}

.my-courses-title {
  margin-bottom: 1.5em;
  position: relative;
  text-align: left;
  h2 {
    display: inline-block;
    font-weight: bold;
    margin-right: .5em;
    vertical-align: top;
  }
  input {
    margin-top: 6px;
    padding: .2em .5em;
    width: 250px;
  }
  i {
    position: absolute;
    left: 370px;
    top: 13px;
  }
}

.flex-container {
  justify-content: center;
  flex-wrap: wrap;
}

.courses {
  padding: 3em 0;
  .course {
    flex-basis: 285px;
    margin-right: 1em;
    margin-left: 1em;
  }
}