.card-course {
  h2 { margin-bottom: 0; }
  .tagline {
    text-align: left;
  }
  .course-main {
    display: flex;
    margin-bottom: 2em;
    margin-top: 1em;
    .video-wrapper-wistia {
      flex-basis: 65%;
      margin-right: 3%
    }
    .parts-container {
      flex-basis: 32%;
      overflow: scroll;
    }
  }

  .interactive-tabs {
    display: flex;
    flex-direction: row;

    li {
      background-color: #69e781;
      flex: 1;
      margin-right: .25em;
      position: relative;
      &:last-of-type { margin-right: 0; }
      &.interactive-tab-active::after {
        content: "";
        background-color: yellow;
        height: 3px;
        width: 100%;
        position: absolute;
      }

      a {
        display: flex;
        align-items: center;
        padding: .25em .5em;
        input {
          height: 15px;
          margin-right: .5rem;
        }
        span {
          color: black;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }

  .interactive-step-0 {
    background-color: white;
    padding: 2em;
    color: #7bb7d7;
    text-align: center;
    h3 {
      display: inline-block;
      font-size: 1.5em;
      max-width: 300px;
    }
  }
}

.professor-hover .tagline {
  color: white;
}

.parts-container {
  background-color: white;
  max-height: 363px;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.12);
}

.part-header {
  border-bottom: 1px solid $gray-border;
  padding: .4em 1em;
  h4 {
    display: inline-block;
    margin-left: 1.5em;
  }
}

.part-topic {
  border-bottom: 1px solid $gray-border;
  cursor: pointer;
  padding: .4em 1em .4em 2.6em;
  position: relative;
  h5 { font-weight: normal; }
  &.active, &:hover { background-color: $gray-border; }
  .fa {
    left: 16px;
    position: absolute;
    &.fa-lock { color: $purple; }
    &.fa-circle { color: green; }
  }
}

.part-topic-duration {
  font-size: .85em;
  position: absolute;
  right: 7px;
  top: 5px;
}

.course-tabs {
  li {
    border-bottom: 1px solid black;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: .1em 1em;
  }
  .current-tab {
    color: $purple;
    border-bottom: 2px solid $purple;
  }
}

.course-information, .course-grades, .course-certificate { padding: 2em 1em; }

.course-information {
  h3 {
    color: $purple;
    margin-left: 0;
    font-weight: bold;
  }

  .info-section { margin-bottom: 1.5em; }
}

.my-courses-title {
  margin-bottom: 1.5em;
  position: relative;
  text-align: left;
  h2 {
    display: inline-block;
    font-weight: bold;
    margin-right: .5em;
    vertical-align: top;
  }
  input {
    margin-top: 6px;
    padding: .2em .5em;
    width: 250px;
  }
  i {
    position: absolute;
    left: 370px;
    top: 13px;
  }
}

.flex-container {
  justify-content: center;
  flex-wrap: wrap;
}

.courses {
  padding: 3em 0;
  .course {
    background-color: #DDD;
    flex-basis: 285px;
    margin-right: 1em;
    margin-left: 1em;
  }
  .course-title {
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 1em;
    padding-top: .5em;
  }
  .course-image { background-color: white; }
}

@media screen and (max-width: 640px) {
  .card-course .course-main {
    display: block;
    .video-wrapper-wistia {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }
}

@media screen and (max-width: 375px) {
  .main-course {
    background-image: none;
    .title {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 90%;
      h1 { text-align: center; }
    }
    .sales {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}