.balance {
  background-color: white;
  border: 1px solid $gray-border;
  display: inline-block;
  font-weight: bold;
  width: 200px;
  text-align: center;
  h4 {
    background-color: #FFDD00;
    box-sizing: content-box;
    line-height: 2.5;
  }
  span { line-height: 2.5; }
}
.aside-buttons {
  float: right;
  width: 150px;
  button {
    font-size: .8em;
    padding: .5em;
  }
}

.financial-table {
  margin-top: 3em;
  th {
    background-color: #39A935;
    color: white;
  }
  tfoot {
    background-color: #B1B1B1;
    font-weight: bold;
  }
}