.plan-header {
  text-align: center;
}

.card.course-info { padding-bottom: 1em; }

.main-course {
  background-position: top center;
  background-size: 135%;
  padding-top: 3em;
  h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
  }
  h4 {
    color: $purple;
    font-size: 1.2em;
  }
  .professor-card { padding-top: 1.5em; }
}

.video-info { top: 210px; }

.info-course {
  h3 {
    color: $purple;
    font-size: 1.7em;
    font-weight: bold;
    margin-left: 0;
  }
  h5 {
    font-size: 1.3em;
    margin-bottom: .5em;
  }

  h6, p {
    font-size: 1.1em;
  }
}

.video-info-campus { top: 180px !important; }

.banner {
  margin: 0;
  height: 280px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }

  .paydate {
    color: white;
<<<<<<< HEAD
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 30px;
    img {
      width: 60px;
    }
    span {
      position: absolute;
      top: 33px;
      right: 15px;
    }
  }

  a.cursor { cursor: pointer; }
=======
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 20px;
    img {
      width: 100px;
    }
    span {
      position: absolute;
      top: 25px;
      right: 37px;
    }
  }
>>>>>>> Add paydate to ambassador welcome view
}

.wrapper-content .courses { padding-top: 1em; }