.plan-header {
  text-align: center;
}

.card.course-info { padding-bottom: 1em; }

.main-course {
  background-position: top center;
  background-size: 135%;
  padding-top: 3em;
  h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
  }
  h4 {
    color: $purple;
    font-size: 1.2em;
  }
  .professor-card { padding-top: 1.5em; }
}

.video-info { top: 210px; }

.info-course {
  h3 {
    color: $purple;
    font-size: 1.7em;
    font-weight: bold;
    margin-left: 0;
  }
  h5 {
    font-size: 1.3em;
    margin-bottom: .5em;
  }

  h6, p {
    font-size: 1.1em;
  }
}

.video-info-campus { top: 180px !important; }

.banner {
  margin: 0;
  height: 280px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }

  .paydate {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 30px;
    img {
      width: 60px;
    }
    span {
      position: absolute;
      top: 33px;
      right: 15px;
    }
  }

  a.cursor { cursor: pointer; }
}

.wrapper-content .courses { padding-top: 1em; }

#culqi-button, #culqi-finish { display: none; }

.progress {
  background-color: $purple;
  display: block;
  height: 3px;
}

.course-title h4 {
  color: $purple;
  margin: .5em 0;
}

.btn-points {
  background-color: #E42620;
  padding: .4em 1em;
  width: 80%;
  min-width: 100px;
}

.table-grades {
  display: block;
  thead {
    background-color: #39A935;
    color: white;
    font-weight: bold;
  }
  td, th {
    width: 110px;
  }
  td {
    border: 1px solid black;
  }
  th {
    border: 1px solid darken(#39A935, 10);
  }
  .grade-result {
    color: #21127B;
    font-size: 1.4em;
    font-weight: bold;
  }
  .grade-note {
    color: #21127B;
    font-weight: bold;
    &.color-red {
      color: red;
    }
  }
  .grade-color {
    color: #21127B;
    &.color-red {
      color: red;
    }
  }
  .grade-approved {
    font-size: 1.3em;
    font-weight: bold;
  }
}

.request-certificate {
  margin-top: 20px;
  max-width: 567px;
}

.course-certificate {
  max-width: 430px;
  text-align: center;
  font-size: 1.2em;
  padding-top: 1.5em;
}