<div id="wrapper" class="aside-fixed header-fixed"
      ng-controller="DashboardController"  >
  <aside id="aside" class="navbar vertical-top"  >
    <nav nav-scroll>
      <div class="nav-header">
        <a class="nav-coverphoto" ui-sref="user.datos"></a>
        <div class="profile-element text-align-left">
          <a class="display-inline" >
            <span class="sub-title">
              {{ nickname }}
              <i ng-if="ambassador === 'false' && role === 'Estudiante'">(Alumno)</i>
              <i ng-if="ambassador === 'false' && role !== 'Estudiante'">({{ role }})</i>
              <i ng-if="ambassador === 'true'">(Embajador)</i>
            </span>
          </a>
        </div>
      </div>
      <ul class="nav" id="side-menu" nav-collapse>
        <li
          data-ng-class="{open: $state.includes('catalog')}">
          <a href="" toggle-submenu>
            <span class="inner">
              <ng-md-icon class="fa fa-th-large icono"></ng-md-icon>
              <span class="nav-label">Catálogo</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level">
            <li><a
            ui-sref="catalog.categories({ slug: category.slug })"
            ui-sref-active="active"
            ng-repeat="category in categories"
            >{{category.name}}</a></li>
          </ul>
        </li>
        <li data-ng-class="{open: $state.includes('courses')}">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-star icono"></ng-md-icon>
              <span class="nav-label">Cursos</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level">
            <li><a
            ui-sref="courses.list"
            ui-sref-active="active"
            >Mis Cursos</a></li>
            <li ng-show="role === 'Estudiante'"><a
            ui-sref="courses.grades"
            ui-sref-active="active"
            >Notas</a></li>
            <li ng-show="role === 'Instructor'"><a
            ui-sref="courses.created"
            ui-sref-active="active"
            >Cursos creados</a></li>
          </ul>
        </li>
        <li
        data-ng-class="{open: $state.includes('user')}">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-user icono"></ng-md-icon>
              <span class="nav-label">Datos</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level ">
            <li>
              <a
              ui-sref="user.data"
              ui-sref-active="active">
              Datos Personales</a>
            </li>
            <li>
              <a
              ui-sref="user.password"
              ui-sref-active="active">
              Cambiar Contraseña</a>
            </li>
            <li>
              <a
              ui-sref="user.payments"
              ui-sref-active="active">
              Mis Pagos</a>
            </li>
          </ul>
        </li>
        <li
        data-ng-class="{open: $state.includes('ambassador')}">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-suitcase icono"></ng-md-icon>
              <span ng-show="role === 'Estudiante'" class="nav-label">Embajador</span>
              <span ng-show="role === 'Instructor'" class="nav-label">Finanzas</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level ">
            <li ng-show="role === 'Estudiante'">
              <a
              ui-sref="ambassador.plan"
              ui-sref-active="active">
              Plan Embajador</a>
            </li>
            <li>
              <a
              ui-sref="ambassador.list"
              ui-sref-active="active">
              Embajadores</a>
            </li>
            <li>
              <a
              ui-sref="ambassador.preferencial"
              ui-sref-active="active">
              Alumnos</a>
            </li>
            <li>
              <a
              ui-sref="ambassador.financial"
              ui-sref-active="active">
                <span ng-show="role === 'Estudiante'">Puntos</span>
                <span ng-show="role === 'Instructor'">Estado Financiero</span>
              </a>
            </li>
            <li ng-show="role === 'Estudiante'">
              <a
              ui-sref="ambassador.billing"
              ui-sref-active="active">
              Facturación</a>
            </li>
            <li>
              <a
              ui-sref="ambassador.bank"
              ui-sref-active="active">
              Datos Bancarios</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <header class="header" id="header-admin">
    <div class="display-table">
      <div class="display-table-cell height_100 text-align-left">
        <div class="display-inline wrapper-logo">
          <div class="display-inline">
            <a ui-sref="welcome.home" title="Universyty" class="logo">
              <img src="/logo-purple.png" width="150" alt="Wit U" />
            </a>
          </div>
        </div>
      </div>
      <div class="aside-menu">
        <a href="#" id="shopping-cart">
          <img src="/menu/cart.png" alt="" ng-click="cart.toggle()" />
          <div ng-if="cart.items.length > 0" class="cart-counter" ng-click="cart.toggle()">{{ cart.items.length }}</div>
        </a>
        <a href="#" id="team-list">
          <img src="/menu/student.png" alt="" />
        </a>
        <a href="#" id="settings">
          <img src="/menu/logout.png" alt="" />
        </a>
        <div class="dropdown" ng-controller="LogoutController">
          <div class="listview">
            <div class="listview-header">
              <a href="#" ng-click="logout()">Cerrar Sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <header-bread-crumb>
  </header-bread-crumb>
  <figure class="banner">
    <a href="#">
      <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/06/30/16/arctic-monkeys.jpg" alt="" />
    </a>
    <div class="paydate" ng-show="ambassador === 'true'">
      <img ng-src="/paydate/{{paydate_color}}.png" alt="" />
      <span>{{ day }}</span>
    </div>
  </figure>
  <main class="animate-fade-left content-view" id="contenido">
    <div class="loading-content loading-content-js">
      <img src="/loading-content.svg" alt="" />
    </div>
    <div ui-view="content" class="wrapper-content"></div>
  </main>
  <div class="shopping-cart" ng-class="{ show: cart.show }">
    <div class="cart-header">
      <i class="fa fa-shopping-cart"></i>
      <h4>Carrito de Compras</h4>
      <i class="fa fa-long-arrow-right" ng-click="cart.toggle('hide')"></i>
    </div>
    <div class="cart-body">
      <article ng-repeat="item in cart.items">
        <h5>{{ item.title }}</h5><!--
        --><span class="price">S/ {{ item.pricetag | number: 2 }}</span>
        <div class="close-button" ng-click="cart.removeItem(item)">
          <i class="fa fa-times"></i>
        </div>
      </article>
    </div>
    <div class="cart-discount" ng-if="cart.discount > 0 && cart.total > 0">
      Descuento: - S/ {{ cart.discount | number: 2 }}
    </div>
    <div class="cart-footer">
      <div class="cart-total">
        <span>TOTAL:</span>
        <span>S/</span>
        <span class="total-price">{{ cart.total | number: 2 }}</span>
        <p ng-if="cart.items.length > 0">(Incluye IGV)</p>
      </div>
      <div class="cart-pay">
        <button ui-sref="sale.billing">PAGAR</button>
      </div>
    </div>
  </div>
</div>