<h1>Hola <%= @user.fullname %></h1>

<p>
  Se pidió la recuperación de contraseña de su cuenta. Para cambiar la contraseña ingrese al siguiente enlace:
</p>

<%= link_to "Recuperar contraseña", "https://www.universyty.com/passwords/#{@user.reset_token}/edit?email=#{@user.email}" %>