<div class="card">
  <div class="full-container card card-padding">
    <div class="ambassadors-title">
      <h2>Notas</h2>
      <div class="input-container">
        <input type="text" ng-model="searchText" placeholder="Buscar curso" />
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="table-container">
    <table class="table td-bg" ng-show="enrollments.length > 0">
      <thead>
        <tr>
          <th>Mis Cursos</th>
          <th>Promedio</th>
          <th>Certificado</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="enrollment in enrollments | filter: searchText">
          <td>
            <img ng-src="{{ enrollment.course.background_url }}" alt="" class="img-table" ui-sref="courses.view({ id: enrollment.course_id, topic: 0 })">
            <span class="img-title" ui-sref="courses.view({ id: enrollment.course_id, topic: 0 })">{{ enrollment.course.title }}</span>
          </td>
          <td class="img-link" ng-class="{ 'color-red': enrollment.first_score < 14, 'color-purple': enrollment.first_score >= 14 }">
            <a ng-href="/campus/cursos/cursos/{{ enrollment.course_id }}/tema/0?notas=true">
              {{ enrollment.first_score }} <br />
              <span ng-show="enrollment.first_score >= 14">Aprobado</span>
              <span ng-hide="enrollment.first_score >= 14">Desaprobado</span>
            </a>
          </td>
          <td class="text-left">
            <a ng-href="{{ enrollment.certificate_url }}" ng-disabled="enrollment.certificate_url === null"><button class="certificate-button-see">Ver</button></a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="alert-container important" ng-hide="enrollments.length > 0">
      <i class="fa fa-warning"></i>
      <span>Aún no hay cursos terminados.</span>
    </div>
  </div>
</div>