<div class="courses">
  <div class="my-courses-title">
    <h2>Mis cursos</h2>
    <input type="text" ng-model="searchText" placeholder="Buscar curso" />
    <i class="fa fa-search"></i>
  </div>

  <div class="flex-container">
    <article class="course" ng-repeat="enrollment in enrollments | filter: searchText" ng-click="goToCourse(enrollment)" ng-show="enrollments.length > 0">
      <a href="#">
        <div class="professor-hover">
          <div class="professor-hover-content">
            <i class="fa fa-play-circle"></i>
          </div>
        </div>
        <div class="course-image">
          <img ng-src="{{ enrollment.course.background_url }}" alt="" />
        </div>
        <div class="progress" style="width: {{percentages[$index]}}%;"></div>
        <div class="course-title">
          <h4>{{ enrollment.course.title }}</h4>
        </div>
      </a>
    </article>
  </div>

  <div class="alert-container important align-left" ng-hide="enrollments.length > 0">
    <i class="fa fa-warning"></i>
    <span>Aún no has adquirido un curso. <a href="welcome.home">Ver catálogo</a>.</span>
  </div>
</div>