.card {
  background-color: white;
}

.card-padding {
  padding: 2em 1em;
}

.header-background {
  background-image: url('/card-background.jpg');
  background-size: cover;
  background-position: center center;
  padding: 3em 2em;
}

.avatar {
  background-color: $purple;
  border: 2px solid white;
  padding: 1em 1.5em .5em;
  width: 100px;

  img {
    width: 100%;
  }
}

.card-with-image {
  h2 {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: 1.8em;
    font-weight: bold;
  }
  figure {
    display: inline-block;
  }
}

@media screen and (max-width: 640px) {
  .card-with-image {
    .two-cols-form {
      flex-wrap: wrap;
      .form-input { flex-basis: 100%; }
      > div:first-child.remove-margin { margin-right: 0; }
    }
    .figure {
      display: block;
      margin: 0 auto;
    }
    h2 {
      display: block;
      margin-bottom: .5em;
    }
  }

  .header-background {
    text-align: center;
  }
}