.modal-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: -2em;
  left: -2em;
  right: -2em;
  bottom: -2em;
  z-index: 1;
}

.space { padding: 12em 0; }

.password-enter{
  background-color: white;
  max-width: 400px;
  padding: .5em;
  position: absolute;
  left: 50%;
  top: 4em;
  transform: translateX(-50%);
  z-index: 2;
}

.password-container {
  border: 1px solid $purple;
  padding: 1.5em;
  text-align: center;
  img {
    margin-bottom: 1em;
    width: 200px;
  }
  input {
    border: 1px solid $purple;
    border-radius: 3px;
    margin-bottom: 1em;
    padding: .5em;
    width: 100%;
  }
}