// VARIABlES
// ----------------------------------

$failed-bg: #ffe1df;
$failed: #dc726b;
$important-bg: #e1f5fe;
$important: #0288D1;
$success-bg: #ddf7de;
$success: #7aab7b;
$warning-bg: #fff8e3;
$warning: #dabc63;

$gray-lighten: #f6f6f6;
$gray-light: #eee;
$gray-dark: #5a5a5a;
$gray-border: #e1e0e1;
$gray-font: #504e4e;
$gray-font-light: #c9c9c9;
$blue-font-dark: #37404E;

$white: #fff;
$black: #000;

$primary-color: #2391e6;
$sidenav-color: #1d2531;
$sidenav-collapse: #222a32;
$lightblue: #ecf0f5;
$line-color: #e8ecf5;

$btn-failed: #e74c3c;
$btn-important: #3498db;
$btn-success: #2ecc71;
$btn-warning: #f1c40f;

$red: #f44336;
