<section class="main-change">
  <div class="outer-container">
  <div class="form-container">
    <h3>CAMBIAR CONTRASEÑA</h3>
    <form id="login-form">
      <div class="form-input">
        <figure><%= image_tag("inputs/password.png") %></figure><!--
        --><input id="password" name="password" type="password" placeholder="Contraseña" />
      </div>
      <div class="form-input">
        <figure><%= image_tag("inputs/password.png") %></figure><!--
        --><input id="repeat" name="repeat" type="password" placeholder="Repetir Contraseña" />
      </div>
      <button type="button" id="login-button">Cambiar</button>
    </form>
  </div>
  </div>
</section>