<div class="card">
  <div class="filter-combo-text">
    <input type="text" ng-model="filter.text" placeholder="Buscar embajador" />
    <select ng-model="filter.option" ng-options="option as option.label for option in options track by option.id">
    </select>
  </div>
  <div class="full-container card card-padding">
    <div class="table-container">
    <table class="table td-bg">
      <thead>
        <tr>
          <th class="thin-column">Usuario</th>
          <th class="text-left">Nombre del instructor</th>
          <th class="text-left">Fecha de registro</th>
          <th class="text-left">Estado</th>
          <th class="text-left">Bloqueado</th>
          <th colspan="1">Bloquear</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | filterUser:this track by user.id">
          <td class="text-left">{{ user.nickname }}</td>
          <td class="text-left">{{ user.fullname }}</td>
          <td class="text-left">{{ user.created_at | date:'dd/MM/yyyy' }} &nbsp;&nbsp;&nbsp; {{ user.created_at | date:'H:mm' }}</td>
          <td class="text-left">
            <span ng-show="user.ambassador_active">Activo</span>
            <span ng-hide="user.ambassador_active">Inactivo</span>
          </td>
          <td class="text-left">
            <span ng-show="user.block">Si</span>
            <span ng-hide="user.block">No</span>
          </td>
          <td class=" no-padding">
            <a href="javascript:void(0)" ng-click="userBlock(user.id, $event)" class="btn button-ico">
              <span class="helper"></span><i class="fa fa-ban display-inline font-1em"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>