<div class="card">
  <div class="filter-combo-text">
    <input type="text" ng-model="filter.text" placeholder="Buscar alumno" />
  </div>
  <div class="full-container card card-padding">
    <div class="table-container">
    <table class="table td-bg">
      <thead>
        <tr>
          <th class="thin-column">Número</th>
          <th class="thin-column">Usuario</th>
          <th class="text-left">Nombre del alumno</th>
          <th class="text-left">Datos</th>
          <th class="text-left">Fecha de registro</th>
          <th class="text-left">Bloqueado</th>
          <th colspan="1">Bloquear</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | filter: filter.text">
          <td>{{ users.length - $index }}</td>
          <td class="text-left">{{ user.nickname }}</td>
          <td class="text-left">{{ user.fullname }}</td>
          <td class="no-padding">
            <a ui-sref="user.edit({ nickname: user.nickname })" class="btn button-ico">
              Ver
            </a>
          </td>
          <td class="text-left">{{ user.created_at | date:'dd/MM/yyyy' }} &nbsp;&nbsp;&nbsp; {{ user.created_at | date:'H:mm' }}</td>
          <td class="text-left">
            <span ng-show="user.block">Si</span>
            <span ng-hide="user.block">No</span>
          </td>
          <td class=" no-padding">
            <a href="javascript:void(0)" ng-click="userBlock(user.id, $event)" class="btn button-ico">
              <span class="helper"></span><i class="fa fa-ban display-inline font-1em"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>