<div class="card-with-image">
  <div class="header-background">
    <figure class="avatar">
      <img src="/user-avatar.png" alt="" />
    </figure>
    <h2>{{fullname}}</h2>
  </div>
  <div class="full-container card card-padding bank-data-container">
    <div class="bank-data">
      <form name="form" ng-submit="updateBank(form, user)" ng-validate="validationOptions" novalidate>
        <div class="form-input">
          <input class="input" type="text" id="account" name="account" disabled required value="Banco de Crédito del Perú (BCP)" />
          <div class="bar"></div>
          <label class="label basic" for="account"><span></span></label>
        </div>
        <div class="form-input">
          <input class="input" type="text" id="account" name="account" required ng-model="user.bank_account" />
          <div class="bar"></div>
          <label class="label basic" for="account"><span> Nº de Cuenta Bancaria:</span></label>
        </div>
        <div class="form-input">
          <input class="input" type="text" id="titular" name="titular" required ng-model="user.bank_titular" />
          <div class="bar"></div>
          <label class="label basic" for="titular"><span> Titular de la cuenta</span></label>
        </div>
        <div class="form-input">
          <button type="submit" ng-disabled="isLoading || disableButton">
            GUARDAR CAMBIOS
            <div class="loader-wrapper" ng-show="isLoading">
              <div class="loader-circles" id="loader">Loading...</div>
            </div>
          </button>
        </div>
      </form>
    </div>
    <aside class="bank-important">
      <div class="card">
        <h3>IMPORTANTE</h3>
        <ul>
          <li><span ng-show="role === 'Estudiante'">Completa los datos sólo si eres Embajador. </span>Una vez establecidos estos datos no podrán ser modificados, sólo puedes hacerlo escribiéndonos a finanzas@universyty.com</li>
          <li>Esta información brindada solo se utilizará para que Universyty deposite <span ng-show="role === 'Instructor'">todos sus ingresos generados</span> <span ng-show="role === 'Estudiante'">todas tus ganancias por invitar a tus amigos</span>.</li>
          <li>Asegúrese que los datos digitados sean correctos. Universyty no se responsabiliza de la información brindada.</li>
        </ul>
      </div>
    </aside>
  </div>
</div>