<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Yachay Footer</title>
</head>
<body>
  <footer>
    <article>
      <h3>Yachay</h3>
      <ul>
        <li><a href="#">¿Quiénes somos?</a></li>
        <li><a href="#">¿Quiénes somos?</a></li>
      </ul>
    </article>
    <article>
      <h3>Servicios</h3>
      <li><a href="#">¿Quiénes somos?</a></li>
      <li><a href="#">¿Quiénes somos?</a></li>
    </article>
    <article>
      <h3>Usuarios</h3>
      <li><a href="#">¿Quiénes somos?</a></li>
      <li><a href="#">¿Quiénes somos?</a></li>
    </article>
    <article>
      <h3>Síguenos</h3>
      <li><a href="#">¿Quiénes somos?</a></li>
      <li><a href="#">¿Quiénes somos?</a></li>
    </article>
  </footer>
</body>
</html>