<div class="card">
  <div class="full-container card card-padding">
    <h2>Embajadores {{ level }}º Nivel </h2>
    <table class="table td-bg" ng-show="ambassadors.length > 0">
      <thead>
        <tr>
          <th class="text-left">Nombre del Invitado</th>
          <th class="text-left">Usuario</th>
          <th class="text-left">Correo</th>
          <th class="text-left">Estado</th>
          <th class="text-left">Fecha de Registro</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ambassador in ambassadors">
          <td class="text-left">{{ ambassador.fullname }}</td>
          <td class="text-left">{{ ambassador.nickname }}</td>
          <td class="text-left">{{ ambassador.email }}</td>
          <td class="text-left">
            <span ng-show="ambassador.ambassador_active" class="color-green">Activo</span>
            <span ng-show="!ambassador.ambassador_active" class="color-red">Inactivo</span>
          </td>
          <td class="text-left">{{ ambassador.created_at }}</td>
        </tr>
      </tbody>
    </table>
    <div class="alert-container important" ng-hide="ambassadors.length > 0">
      <i class="fa fa-warning"></i>
      <span>Aún no hay alumnos invitados.</span>
    </div>
  </div>
</div>