<div class="billing">
  <div class="billing-data">
    <article>
      <h4>* Datos de Facturación</h4>
      <ul class="billing-user">
        <li>
          <span class="title-li">Nombre</span>
          <span>:</span>
          <span class="info-li">{{ fullname }}</span>
        </li>
        <li>
          <span class="title-li">DNI/RUC</span>
          <span>:</span>
          <span class="info-li">
            <span ng-hide="dni && dni !== 'null'">No tiene DNI. <a href="javascript:void(0)" ui-sref="user.data">Agregar</a></span>
            <span ng-show="dni && dni !== 'null'">{{ dni }}</span>
          </span>
        </li>
        <li>
          <span class="title-li">Dirección</span>
          <span>:</span>
          <span class="info-li"><span ng-if="address !== 'null'">{{ address }} / </span>{{ city }}
        </li>
      </ul>
    </article>
    <article class="payment-methods">
      <h4>* Elige tu método de Pago</h4>
      <input type="radio" id="card" name="payment" value="1" ng-model="paymentMethod" />
      <input type="radio" id="deposit" name="payment" value="2" ng-model="paymentMethod" />
      <input type="radio" id="balance" name="payment" value="3" ng-model="paymentMethod" />
      <div class="payment-options">
        <!-- <label for="card" ng-class="{ selected: paymentMethod === '1' }">
          <img src="/card.png" alt="" />
          <h5>Tarjeta Crédito o Débito</h5>
        </label> -->
        <label for="deposit" ng-class="{ selected: paymentMethod === '2' }">
          <img src="/deposit.png" alt="" />
          <h5>Depósito Bancario</h5>
        </label>
        <label for="balance" ng-class="{ selected: paymentMethod === '3' }">
          <img src="/balance.png" alt="" />
          <h5>Puntos</h5>
        </label>
      </div>
      <div class="info-deposit" ng-show="paymentMethod === '2'">
        <h3>DÉPOSITO EN AGENTE BCP</h3>
        <p>Puedes realizar tu pago con depósito en efectivo en cualquier Agente BCP, sólo tienes que seguir estos pasos:</p>
        <ol>
          <li>Acude a un Agente BCP.</li>
          <li>Indica que eres alumno de Universyty, y brinda como código tu USUARIO.</li>
          <li>Paga en efectivo el monto total.</li>
          <li>Espera un máximo de 48 horas para la activación de tu <span ng-if="$state.includes('sale.billing')">Curso y/o Diplomado</span><span ng-if="!$state.includes('sale.billing')">Plan Embajador</span>.</li>
        </ol>
      </div>
      <div class="info-balance" ng-show="paymentMethod === '3'">
        <h3>PAGO CON PUNTOS</h3>
        <p>Puedes realizar tu pago con puntos de nuestros Embajadores, solo tienes que seguir estos pasos:</p>
        <ol>
          <li>Brinda tu nombre de usuario a uno de nuestros Embajadores para que proceda con el pago.</li>
          <li>Cuando tu pedido esté pagado, procede a pagar el monto total en efectivo al Embajador.</li>
          <li>Empieza a disfrutar de esta gran experiencia al ser parte de Universyty.</li>
        </ol>
      </div>
    </article>
    <button ng-click="pay(paymentMethod, cart)" ng-disabled="isLoading || ambassador === 'true'" ng-if="!$state.includes('sale.billing')">
      Confirmar pedido por S/ 29
      <div class="loader-wrapper" ng-show="isLoading">
        <div class="loader-circles" id="loader">Loading...</div>
      </div>
    </button>
    <button ng-click="pay(paymentMethod, cart)" ng-disabled="isLoading" ng-if="$state.includes('sale.billing')">
      Confirmar pedido por S/ {{ cart.total }}
      <div class="loader-wrapper" ng-show="isLoading">
        <div class="loader-circles" id="loader">Loading...</div>
      </div>
    </button>
  </div>
  <div class="billing-cart">
    <div class="billing-ambassador-plan" ng-if="!$state.includes('sale.billing')">
      <div class="plan-header">
        <h4>Plan Embajador</h4>
        <div class="price">
          <span class="price-currency">S/</span>
          <span class="price-int">29</span>
          <div class="aside-price">
            <span class="price-decimal">.00</span>
            <span class="price-text">al mes</span>
          </div>
        </div>
      </div>
      <div class="plan-body">
        <ul>
          <li>
            <i class="fa fa-check"></i><!--
            --><span>Obtendrás el 20% de descuento por la compra de cualquier Curso y/o Diplomado.</span>
          </li>
          <li>
            <i class="fa fa-check"></i><!--
            --><span>Certificados gratis y de forma ilimitada.</span>
          </li>
          <li>
            <i class="fa fa-check"></i><!--
            --><span>Invita a todos tus amigos a registrarse, acumula puntos por sus compras y luego canjéalos por Cursos/Diplomados y/o Dinero (1 punto = S/ 1). Puntuación:
            <ul class="list-points">
              <li>
                <i class="fa fa-circle"></i><!--
                --><span>Puntos de Recomendación.- Gana el 20% de comisión cada vez que tus invitados compren sus Cursos/Diplomados.</span>
              </li>
              <li>
                <i class="fa fa-circle"></i><!--
                --><span>Puntos de Amigo.- Gana 10 puntos cuando tu amigo se registra como Embajador.</span>
              </li>
              <li>
                <i class="fa fa-circle"></i><!--
                --><span>Puntos de Equipo.- Gana 1 punto por cada persona de tu Equipo de Embajadores que pague su mensualidad (hasta el 10º nivel).</span>
              </li>
            </ul>
            </span>
          </li>
          <li>
            <i class="fa fa-check"></i><!--
            --><span>Oficina virtual para administrar tus puntos (saldo disponible, ingresos, canjes, etc).</span>
          </li>
        </ul>
      </div>
    </div>
    <div ng-if="$state.includes('sale.billing')" class="shopping-cart">
      <div class="cart-header">
        <i class="fa fa-shopping-cart"></i>
        <h4>Carrito de Compras</h4>
        <i class="fa fa-long-arrow-right" ng-click="cart.toggle('hide')"></i>
      </div>
      <div class="cart-body">
        <article ng-repeat="item in cart.items">
          <h5>{{ item.title }}</h5><!--
          --><span class="price">S/ {{ item.pricetag | number: 2 }}</span>
          <div class="close-button" ng-click="cart.removeItem(item)">
            <i class="fa fa-times"></i>
          </div>
        </article>
      </div>
      <div class="cart-discount" ng-if="cart.discount">
        Descuento: - S/ {{ cart.discount | number: 2 }}
      </div>
      <div class="cart-footer">
        <div class="cart-total">
          <span>TOTAL:</span>
          <span>S/</span>
          <span class="total-price">{{ cart.total | number: 2 }}</span>
        </div>
        <div class="cart-pay">
        </div>
      </div>
    </div>
  </div>
</div>