<div class="card">
  <div class="full-container card card-padding">
    <h2>Alumnos</h2>
    <div class="table-container">
    <table class="table td-bg" ng-show="students.length > 0">
      <thead>
        <tr>
          <th class="text-left">Nombre del Invitado</th>
          <th class="text-left">Usuario</th>
          <th class="text-left">Correo</th>
          <th class="text-left">Fecha de Registro</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in students">
          <td class="text-left">{{ student.fullname }}</td>
          <td class="text-left">{{ student.nickname }}</td>
          <td class="text-left">{{ student.email }}</td>
          <td class="text-left">
            {{ student.created_at | date:'dd/MM/yyyy' }} &nbsp;&nbsp;&nbsp; {{ student.created_at | date:'H:mm' }}
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <p class="foot-note align-left" ng-show="students.length > 0">* Esta es la lista de todas las personas que has invitado, si alguno de ellos ha comprado su Plan Embajador, ubícalos en <a ui-sref="ambassador.list">EMBAJADORES</a>.</p>
    <div class="alert-container important" ng-hide="students.length > 0">
      <i class="fa fa-warning"></i>
      <span>Aún no hay alumnos invitados.</span>
    </div>
  </div>
</div>