<div id="wrapper" class="aside-fixed header-fixed"
      ng-controller="DashboardController"  >
  <aside id="aside" class="navbar vertical-top"  >
    <nav nav-scroll>
      <div class="nav-header">
        <a class="nav-coverphoto" ui-sref="user.datos"></a>
        <div class="profile-element text-align-left">
          <a class="display-inline" >
            <span class="sub-title">
              {{ nickname }}
            </span>
          </a>
        </div>
      </div>
      <ul class="nav" id="side-menu" nav-collapse>
        <li data-ng-class="{open: $state.includes('courses')}">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-star icono"></ng-md-icon>
              <span class="nav-label">Cursos</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level">
            <li><a
            ui-sref="courses.create"
            ui-sref-active="active"
            >Crear</a></li>
            <li><a
            ui-sref="courses.list"
            ui-sref-active="active"
            >Lista</a></li>
            <li><a
            ui-sref="courses.categories"
            ui-sref-active="active"
            >Categorías</a></li>
          </ul>
        </li>
        <li
        data-ng-class="{open: $state.includes('user')}">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-user icono"></ng-md-icon>
              <span class="nav-label">Usuarios</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level ">
            <li>
              <a
              ui-sref="user.students"
              ui-sref-active="active">
              Alumnos</a>
            </li>
            <li>
              <a
              ui-sref="user.instructors"
              ui-sref-active="active">
              Instructores</a>
            </li>
            <li>
              <a
              ui-sref="user.admins"
              ui-sref-active="active">
              Administradores</a>
            </li>
            <li>
              <a
              ui-sref="user.create"
              ui-sref-active="active">
              Crear Admin</a>
            </li>
            <li>
              <a
              ui-sref="user.data"
              ui-sref-active="active">
              Mis datos</a>
            </li>
          </ul>
        </li>
        <li
        data-ng-class="{open: $state.includes('financial')}">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-suitcase icono"></ng-md-icon>
              <span class="nav-label">Finanzas</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level ">
            <li>
              <a
              ui-sref="financial.pending"
              ui-sref-active="active">
              Pendientes de Pago</a>
            </li>
            <li>
              <a
              ui-sref="financial.income"
              ui-sref-active="active">
              Ingresos</a>
            </li>
            <li>
              <a
              ui-sref="financial.outcome"
              ui-sref-active="active">
              Egresos</a>
            </li>
            <li>
              <a
              ui-sref="financial.contingency"
              ui-sref-active="active">
              Contingencia</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <header class="header" id="header-admin">
    <div class="display-table">
      <div class="display-table-cell height_100 text-align-left">
        <div class="display-inline wrapper-logo">
          <div class="display-inline">
            <a ui-sref="user.datos" title="ImpactBTL" class="logo">
              <img src="/logo-purple.png" width="150" alt="Wit U" />
            </a>
          </div>
        </div>
      </div>
      <div class="aside-menu">
        <a href="#" id="settings"><i class="fa fa-cog"></i></a>
        <div class="dropdown" ng-controller="LogoutController">
          <div class="listview">
            <div class="listview-header">
              <a href="#" ng-click="logout()">Cerrar Sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <header-bread-crumb>
  </header-bread-crumb>
  <main class="content-view animate-fade-left" id="contenido">
    <div class="loading-content loading-content-js">
      <img src="/loading-content.svg" alt="" />
    </div>
    <div ui-view="content" class="wrapper-content"></div>
  </main>
</div>