<div class="card-course">
  <h2>{{ currentTopic.title }}</h2>

  <section class="course-main">
    <div class="video-wrapper-wistia">
      <div class="video-wrapper" ng-if="currentTopic.video_url && currentTopic.video_url !== ''">
        <iframe ng-src="{{ vimeoVideo | trusted }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="interactive-wrapper" ng-if="!currentTopic.video_url || currentTopic.video_url === ''">
        <ul class="interactive-tabs">
          <li
            ng-class="{completed: completedTabs >= 1, 'interactive-tab-active': interactiveStep === 1}"
            ng-click="setStep(1)"
          >
            <a href="#">
              <input type="radio" />
              <span>Audición</span>
              <img src="/purple-check.png" />
            </a>
          </li>
          <!-- <li ng-class="{completed: completedTabs >= 2}">
            <a href="#">
              <input type="radio" />
              <span>Perfeccionamiento</span>
            </a>
          </li> -->
          <li
            ng-class="{completed: completedTabs >= 2, 'interactive-tab-active': interactiveStep === 2}"
            ng-click="setStep(2)"
          >
            <a href="#">
              <input type="radio" />
              <span>Memorización</span>
              <img src="/purple-check.png" />
            </a>
          </li>
          <li
            ng-class="{completed: completedTabs >= 3, 'interactive-tab-active': interactiveStep === 3}"
            ng-click="setStep(3)"
          >
            <a href="#">
              <input type="radio" />
              <span>Transcripción</span>
              <img src="/purple-check.png" />
            </a>
          </li>
        </ul>
        <div ng-if="interactiveStep === 1" class="interactive-step-1">
          <h3>¡Entretenemos oidos,<br /> y pronuncialo sin roche!</h3>
          <div class="interactive-player">
            <div class="interactive-slider">
              <rzslider rz-slider-model="sliderAudition.value"
              rz-slider-options="sliderAudition.options"></rzslider>
              <span class="init-player">{{ avance }}</span>
              <span class="end-player">{{ Math.floor(auditionAudio.duration / 60) }}:{{ Math.floor(auditionAudio.duration % 60) }}</span>
            </div>
            <img ng-if="auditionAudio.paused" class="play-player" src="/player/circled-play.png" ng-click="clickPlayOrPause('sliderAudition', 'auditionAudio')" />
            <img ng-if="!auditionAudio.paused" class="play-player pause" src="/player/circled-pause.png" ng-click="clickPlayOrPause('sliderAudition', 'auditionAudio')" />
          </div>
          <button
            class="button next-lab-button"
            ng-click="nextStep(2)"
          >
            <span>Laboratorio 2</span>
            <img class="chevron" src="chevron_right.png" />
          </button>
        </div>
      </div>
      <div ng-if="interactiveStep === 2" class="interactive-step-2">
        <div class="inner-interactive-tabs">
          <div
            class="inner-tab memorization-translate-tab"
            ng-class="{selected: translateMemorizationSelected}"
            ng-click="setTranslateMemorization()"
          >
            <img src="/translate-red.png" />
            <img src="/translate-blue.png" />
            <h4>Traducción</h4>
          </div>
          <div
            class="inner-tab memorization-fonetica-tab"
            ng-class="{selected: foneticaMemorizationSelected}"
            ng-click="setFoneticaMemorization()"
          >
              <img src="/fonetica-red.png" />
              <img src="/fonetica-blue.png" />
              <h4>Fonética</h4>
            </div>
        </div>
        <div class='center-interactive'>
          <p class="center-text">{{ memorizations[memorizationSlide].description }}</p>
          <div class="center-line"></div>
          <p
            class="center-response"
            ng-if="translateMemorizationSelected"
          >
            {{ memorizations[memorizationSlide].translate }}
          </p>
          <p
            class="center-response"
            ng-if="foneticaMemorizationSelected"
          >
            {{ memorizations[memorizationSlide].fonetica }}
          </p>
        </div>
        <div class="interactive-player">
          <div class="interactive-slider">
            <rzslider rz-slider-model="this['sliderMemorization-' + memorizationSlide].value"
            rz-slider-options="this['sliderMemorization-' + memorizationSlide].options"></rzslider>
            <span class="init-player">{{ avance }}</span>
            <span class="end-player">{{ Math.floor(this['sliderMemorization-' + memorizationSlide + '-audio'].duration / 60) }}:{{ Math.floor(this['sliderMemorization-' + memorizationSlide + '-audio'].duration % 60) }}</span>
          </div>
          <img ng-if="this['sliderMemorization-' + memorizationSlide + '-audio'].paused" class="play-player" src="/player/circled-play.png" ng-click="clickPlayOrPause('sliderMemorization-' + memorizationSlide, 'sliderMemorization-' + memorizationSlide + '-audio')" />
          <img ng-if="!this['sliderMemorization-' + memorizationSlide + '-audio'].paused" class="play-player pause" src="/player/circled-pause.png" ng-click="clickPlayOrPause('sliderMemorization-' + memorizationSlide, 'sliderMemorization-' + memorizationSlide + '-audio')" />
        </div>
      </div>
      <div class="memorization-bottom" ng-if="interactiveStep === 2">
        <div class="memorization-slides">
          <img
            class="chevron-left"
            src="circled-chevron-left-transparent.png"
            ng-click="backSlide('memorizationSlide')"
          />
          {{ memorizationSlide + 1 }}<span>/</span>{{ memorizations.length }}
          <img
            class="chevron-right"
            src="circled-chevron-right-transparent.png"
            ng-click="nextSlide('memorizations', 'memorizationSlide')"
          />
        </div>
        <button
          class="button next-lab-button"
          ng-click="nextStep(3)"
          ng-if="memorizationSlide + 1 === memorizations.length"
        >
          <span>Laboratorio 3</span>
          <img class="chevron" src="chevron_right.png" />
        </button>
      </div>
      <div ng-if="interactiveStep === 3" class="interactive-step-3">
        <h3>¡Escucha y transcribe en inglés!</h3>
        <div class="interactive-player">
          <div class="interactive-slider">
            <rzslider rz-slider-model="this['sliderTranscription-' + transcriptionSlide].value"
            rz-slider-options="this['sliderTranscription-' + transcriptionSlide].options"></rzslider>
            <span class="init-player">{{ avance }}</span>
            <span class="end-player">{{ Math.floor(this['sliderTranscription-' + transcriptionSlide + '-audio'].duration / 60) }}:{{ Math.floor(this['sliderTranscription-' + transcriptionSlide + '-audio'].duration % 60) }}</span>
          </div>
          <img ng-if="this['sliderTranscription-' + transcriptionSlide + '-audio'].paused" class="play-player" src="/player/circled-play.png" ng-click="clickPlayOrPause('sliderTranscription-' + transcriptionSlide, 'sliderTranscription-' + transcriptionSlide + '-audio')" />
          <img ng-if="!this['sliderTranscription-' + transcriptionSlide + '-audio'].paused" class="play-player pause" src="/player/circled-pause.png" ng-click="clickPlayOrPause('sliderTranscription-' + transcriptionSlide, 'sliderTranscription-' + transcriptionSlide + '-audio')" />
        </div>
        <div class="answer">

        </div>
        <div class='center-interactive'>
          <input placeholder="Escribe aquí" type="text" />
          <div class="center-line"></div>
          <p
            class="center-response"
          >
            <span ng-if="transcriptionResult === 'wrong'">{{ transcriptions[transcriptionSlide].answers.split('|')[0] }}</span>
          </p>
        </div>
        <button class="button success">Verificar</button>
      </div>
      <div class="memorization-bottom" ng-if="interactiveStep === 3">
        <div class="memorization-slides">
          <img
            class="chevron-left"
            src="circled-chevron-left-transparent.png"
            ng-click="backSlide('transcriptionSlide')"
          />
          {{ transcriptionSlide + 1 }}<span>/</span>{{ transcriptions.length }}
          <img
            class="chevron-right"
            src="circled-chevron-right-transparent.png"
            ng-click="nextSlide('transcriptions', 'transcriptionSlide')"
          />
        </div>
      </div>
    </div>
    <div class="parts-container">
      <article ng-repeat="part in parts">
        <div class="part-header">
          <h4>Módulo Nº {{ part.number }}: {{ part.title }}</h4>
        </div>
        <div class="part-body">
          <div class="part-topic" ng-repeat="topic in part.topics" ng-class="{ active: currentTopic.id == topic.id }" ng-click="goTo('video', { id: idCourse, topic: topic, part: part })">
            <i class="fa fa-lock" ng-hide="topic.enabled"></i>
            <i class="fa fa-circle" ng-show="topic.enabled"></i>
            <h5>{{ ($index + 1) + '. ' + topic.title }}</h5>
            <span class="part-topic-duration">{{ topic.duration }}</span>
          </div>
          <div class="part-topic" ng-hide="part.enabled">
            <i class="fa fa-lock" ng-hide="part.enabled"></i>
            <h5>Exámen módulo {{ $index + 1 }}</h5>
          </div>
          <div class="part-topic" ng-click="goTo('quiz', { id: idCourse, part: part, number: part.number })" ng-show="part.enabled">
            <i class="fa fa-circle"></i>
            <h5>Exámen módulo {{ $index + 1 }}</h5>
          </div>
        </div>
      </article>
    </div>
  </section>
  <section class="course-tabs">
    <ul>
      <li ng-click="changeTab(0)" ng-class="{ 'current-tab': isTab(0) }">Información</li><!--
      --><li ng-click="changeTab(1)"  ng-class="{ 'current-tab': isTab(1) }">Notas</li><!--
      --><li ng-click="changeTab(2)"  ng-class="{ 'current-tab': isTab(2) }">Certificado</li>
    </ul>
    <article class="course-information" ng-show="currentTab === 0">
      <div class="info-course-container">
        <h3>Sobre el curso:</h3>

        <div class="info-section">
          <h5>Descripción del curso</h5>
          <p>{{ course.description }}</p>
        </div>

        <div class="info-section">
          <h5>¿Qué vas a lograr con este curso?</h5>
          <p>{{ course.goal }}</p>
        </div>

        <div class="info-section">
          <h5>Certificado</h5>
          <p>{{ course.certificate_info }}</p>
        </div>

        <div class="info-section">
          <h3 ng-if="course.professors.length == 1">Sobre el profesor:</h3>
          <h3 ng-if="course.professors.length > 1">Sobre los profesores:</h3>

          <div ng-repeat="professor in course.professors">
            <article class="professor-card">
              <figure>
                <img ng-src="{{professor.image_url}}" alt="">
              </figure><!--
              --><div class="professor-info">
                <h5>{{ professor.name }}</h5>
                <p>{{ professor.bio }}</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </article>
    <article class="course-grades" ng-show="currentTab === 1">
      <div class="table-container">
      <table class="table td-bg table-grades">
        <thead>
          <tr>
            <th class="thin-column">Módulo Nº</th>
            <th class="text-left">Examen</th>
            <th class="text-left">Sustitutorio</th>
            <th class="text-left">Aplazado</th>
            <th class="text-left">Nota Final</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="part in parts">
            <td class="text-left">
              {{ $index + 1 }}
            </td>
            <td class="grade-color" ng-class="{ 'color-red': filteredGrades[$index][0] < 14 }">
              {{ filteredGrades[$index][0] }}
            </td>
            <td class="grade-color" ng-class="{ 'color-red': filteredGrades[$index][1] < 14 }">
              {{ filteredGrades[$index][1] }}
            </td>
            <td class="grade-color" ng-class="{ 'color-red': filteredGrades[$index][2] < 14 }">
              {{ filteredGrades[$index][2] }}
            </td>
            <td class="grade-color" ng-class="{ 'color-red': totals[$index] < 14 }">
              {{ totals[$index] }}
            </td>
          </tr>
          <tr>
            <td colspan="3" class="grade-result">
              <div ng-show="enrollment.finished">
                <span ng-show="grade_total >= 14">APROBADO</span>
                <span ng-hide="grade_total >= 14" class="color-red">DESAPROBADO</span>
              </div>
              <div ng-hide="enrollment.finished">
                ---
              </div>
            </td>
            <td class="grade-approved">Promedio</td>
            <td class="grade-note" ng-class="{ 'color-red': grade_total < 14 }">
              <div ng-show="enrollment.finished">{{ grade_total }}</div>
              <div ng-hide="enrollment.finished">---</div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      <button class="request-certificate" ng-disabled="grade_total < 14 || !enrollment.finished" ng-click="requestCertificate()">Solicitar certificado</button>
    </article>
    <article class="course-certificate" ng-show="currentTab === 2">
      <a ng-href="{{ enrollment.certificate_url }}" ng-show="enrollment.certificate_url !== null" target="_blank">Ver certificado</a>
      <span ng-hide="enrollment.certificate_url !== null">Certificado no disponible</span>
    </article>
  </section>
</div>