<div class="card-course">
  <h2>{{ course.title }}</h2>
  <p class="tagline">Por: {{ course.professors[0].name }}</p>

  <section class="course-main">
    <div class="video-wrapper-wistia">
      <div class="video-wrapper">
        <iframe ng-src="{{ vimeoVideo | trusted }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="parts-container">
      <article ng-repeat="part in parts">
        <div class="part-header">
          <h4>{{ part.title }}</h4>
        </div>
        <div class="part-body">
          <div class="part-topic" ng-repeat="topic in part.topics" ng-class="{ active: currentTopic == topic }" ng-click="goTo('video', { id: idCourse, topic: topic })">
            <i class="fa fa-lock" ng-hide="topic.enabled"></i>
            <i class="fa fa-circle" ng-show="topic.enabled"></i>
            <h5>{{ ($index + 1) + '. ' + topic.title }}</h5>
            <span class="part-topic-duration">{{ topic.duration }}</span>
          </div>
          <div class="part-topic" ng-hide="part.enabled">
            <i class="fa fa-lock" ng-hide="part.enabled"></i>
            <h5>Exámen módulo {{ $index + 1 }}</h5>
          </div>
          <div class="part-topic" ng-click="goTo('quiz', { id: idCourse, part: part, number: part.number })" ng-show="part.enabled">
            <i class="fa fa-circle"></i>
            <h5>Exámen módulo {{ $index + 1 }}</h5>
          </div>
        </div>
      </article>
    </div>
  </section>
  <section class="course-tabs">
    <ul>
      <li ng-click="changeTab(0)" ng-class="{ 'current-tab': isTab(0) }">Información</li><!--
      --><li ng-click="changeTab(1)"  ng-class="{ 'current-tab': isTab(1) }">Notas</li><!--
      --><li ng-click="changeTab(2)"  ng-class="{ 'current-tab': isTab(2) }">Certificado</li>
    </ul>
    <article class="course-information" ng-show="currentTab === 0">
      <div class="info-course-container">
        <h3>Sobre el curso:</h3>

        <div class="info-section">
          <h5>Descripción del curso</h5>
          <p>{{ course.description }}</p>
        </div>

        <div class="info-section">
          <h5>¿Qué vas a lograr con este curso?</h5>
          <p>{{ course.goal }}</p>
        </div>

        <div class="info-section">
          <h5>Certificado</h5>
          <p>{{ course.certificate_info }}</p>
        </div>

        <div class="info-section">
          <h3 ng-if="course.professors.length == 1">Sobre el profesor:</h3>
          <h3 ng-if="course.professors.length > 1">Sobre los profesores:</h3>

          <div ng-repeat="professor in course.professors">
            <article class="professor-card">
              <figure>
                <img ng-src="{{professor.image_url}}" alt="">
              </figure><!--
              --><div class="professor-info">
                <h5>{{ professor.name }}</h5>
                <p>{{ professor.bio }}</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </article>
    <article class="course-grades" ng-show="currentTab === 1">
      <table class="table td-bg table-grades">
        <thead>
          <tr>
            <th class="thin-column">Módulo Nº</th>
            <th class="text-left">Examen</th>
            <th class="text-left">Sustitutorio</th>
            <th class="text-left">Aplazado</th>
            <th class="text-left">Nota Final</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="part in parts">
            <td class="text-left">
              {{ $index + 1 }}
            </td>
            <td class="grade-color" ng-class="{ 'color-red': filteredGrades[$index][0] < 14 }">
              {{ filteredGrades[$index][0] }}
            </td>
            <td class="grade-color" ng-class="{ 'color-red': filteredGrades[$index][1] < 14 }">
              {{ filteredGrades[$index][1] }}
            </td>
            <td class="grade-color" ng-class="{ 'color-red': filteredGrades[$index][2] < 14 }">
              {{ filteredGrades[$index][2] }}
            </td>
            <td class="grade-color" ng-class="{ 'color-red': totals[$index] < 14 }">
              {{ totals[$index] }}
            </td>
          </tr>
          <tr>
            <td colspan="3" class="grade-result">
              <span ng-show="grade_total >= 14">APROBADO</span>
              <span ng-hide="grade_total >= 14" class="color-red">DESAPROBADO</span>
            </td>
            <td class="grade-approved">Promedio</td>
            <td class="grade-note" ng-class="{ 'color-red': grade_total < 14 }">{{ grade_total }}</td>
          </tr>
        </tbody>
      </table>
      <button class="request-certificate" ng-disabled="grade_total < 14" ng-click="requestCertificate()">Solicitar certificado</button>
    </article>
    <article class="course-certificate" ng-show="currentTab === 2">
      <a ng-href="{{ enrollment.certificate_url }}" ng-show="enrollment.certificate_url !== null" target="_blank">Ver certificado</a>
      <span ng-hide="enrollment.certificate_url !== null">Certificado no disponible</span>
    </article>
  </section>
</div>