$purple: #57167D;
$yellow: #FFEC00;
$gray: #3C3C3B;
$light-gray: lighten($gray, 74%);
$medium-gray: lighten($gray, 30%);
$light-blue: #35A8E0;
$turquose: #8BEBFC;

$h1: 2.5em;
$h2: $h1;
$h3: .8 * $h2;
$h4: .6 * $h3;
$h5: $h4;
$h6: $h4 * .9;

$fb-color: #012982;
$tw-color: #0198DA;
$yt-color: #DB0209;

$link-selected: #EAC307;