<div class="card">
  <div class="full-container card card-padding">
    <h2>Lista de categorías</h2>
    <form name="form" ng-submit="createCategory(form, category)" ng-validate="validationOptions" novalidate>
      <div class="two-column-create">
        <div class="form-input">
          <input class="input" type="text" id="name" name="name" ng-model="category.name" required />
          <div class="bar"></div>
          <label class="label basic" for="name">Nombre</label>
        </div>
        <div class="form-input">
          <input class="input" type="text" id="slug" name="slug" ng-model="category.slug" required />
          <div class="bar"></div>
          <label class="label basic" for="slug">Slug</label>
        </div>
        <div class="form-input">
          <button type="submit" ng-disabled="form.$invalid || isLoading">
            CREAR
            <div class="loader-wrapper" ng-show="isLoading">
              <div class="loader-circles" id="loader">Loading...</div>
            </div>
          </button>
        </div>
      </div>
    </form>
    <table class="table td-bg">
      <thead>
        <tr>
          <th class="thin-column">Nombre</th>
          <th class="text-left">Slug</th>
          <th colspan="2">Administrar</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="category in categories">
          <td class="text-left">{{ category.name }}</td>
          <td class="text-left">{{ category.slug }}</td>
          <td class="no-padding">
            <a ui-sref="courses.categoryedit({id: category.id})" class="btn button-ico">
              <span class="helper"></span><i class="fa fa-edit display-inline font-1-3em"></i>
            </a>
          </td>
          <td class=" no-padding">
            <a href="javascript:void(0)" ng-click="categoryDelete(category.id, $event)" class="btn button-ico">
              <span class="helper"></span><i class="fa fa-times display-inline font-1em"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>