<div class="card">
  <div class="full-container card card-padding">
    <h2>Cuestionario del Módulo {{module.number}}: {{module.title}} - {{course.title}}</h2>

    <form name="form" ng-submit="create(form, question)" ng-validate="validationOptions" novalidate>
      <div class="add-element-priority">
        <div class="form-input">
          <input class="input" type="text" id="content" name="content" ng-model="question.content" required />
          <div class="bar"></div>
          <label class="label basic" for="content">Pregunta:</label>
        </div>
        <div class="form-input">
          <input class="input" type="text" id="number" name="number" ng-model="question.answers_number" required />
          <div class="bar"></div>
          <label class="label basic" for="number">Número de respuestas:</label>
        </div>
        <div class="form-input">
          <button type="submit" ng-disabled="form.$invalid || isLoading">
            Agregar pregunta
            <div class="loader-wrapper" ng-show="isLoading">
              <div class="loader-circles" id="loader">Loading...</div>
            </div>
          </button>
        </div>
      </div>
    </form>

    <table class="table td-bg">
      <thead>
        <tr>
          <th class="text-left">Contenido</th>
          <th colspan="2">Administrar</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="question in questions">
          <td class="text-left">{{ question.content }}</td>
          <td class="no-padding">
            <a ui-sref="courses.answers({idModule: question.part_id, id: question.id})" class="btn button-ico">
              <span class="helper"></span><i class="fa fa-list-ol display-inline font-1-3em"></i>
            </a>
          </td>
          <td class=" no-padding">
            <a href="javascript:void(0)" ng-click="questionDelete(question.id, $event)" class="btn button-ico">
              <span class="helper"></span><i class="fa fa-times display-inline font-1em"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>