<div class="card card-with-image">
  <div class="header-background">
    <figure class="avatar">
      <img src="/user-avatar.png" alt="" />
    </figure>
    <h2>{{user.fullname}}</h2>
  </div>
  <div class="md-container card card-padding">
    <form name="form" ng-submit="changePassword(form, oldPassword, newPassword)" ng-validate="validationOptions" novalidate>
      <div class="form-input">
        <input class="input" type="{{passwords['old']}}" id="old_password" name="old_password" ng-model="oldPassword" required />
        <div class="bar"></div>
        <label class="label basic" for="old_password">Contraseña actual:</label>
        <div class="show-password" ng-click="showPassword('old')">
          <i class="fa fa-eye" ng-if="passwords['old'] === 'text'"></i>
          <i class="fa fa-eye-slash" ng-if="passwords['old'] === 'password'"></i>
        </div>
      </div>
      <div class="two-cols-form">
        <div class="form-input">
          <input class="input" type="{{passwords['new']}}" id="new_password" name="new_password" ng-model="newPassword" required />
          <div class="bar"></div>
          <label class="label basic" for="new_password">Nueva contraseña:</label>
          <div class="show-password" ng-click="showPassword('new')">
            <i class="fa fa-eye" ng-if="passwords['new'] === 'text'"></i>
            <i class="fa fa-eye-slash" ng-if="passwords['new'] === 'password'"></i>
          </div>
        </div>
        <div class="form-input">
          <input class="input" type="{{passwords['repeat']}}" id="repeat_new_password" name="repeat_new_password" ng-model="repeatNewPassword" required />
          <div class="bar"></div>
          <label class="label basic" for="repeat_new_password">Confirmar nueva contraseña:</label>
          <div class="show-password" ng-click="showPassword('repeat')">
            <i class="fa fa-eye" ng-if="passwords['repeat'] === 'text'"></i>
            <i class="fa fa-eye-slash" ng-if="passwords['repeat'] === 'password'"></i>
          </div>
        </div>
      </div>
      <div class="form-input">
        <button type="submit" ng-disabled="form.$invalid || isLoading">
          GUARDAR CAMBIOS
          <div class="loader-wrapper" ng-show="isLoading">
            <div class="loader-circles" id="loader">Loading...</div>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>