<div class="totals flex-container">
  <div class="total-card green">
    <div class="total-header">
      Total de embajadores
    </div>
    <div class="total-body">
      {{ data.total_ambassadors }}
    </div>
  </div>

  <div class="total-card green">
    <div class="total-header">
      Total instructores
    </div>
    <div class="total-body">
      {{ data.total_instructors }}
    </div>
  </div>

  <div class="total-card green">
    <div class="total-header">
      Total de alumnos
    </div>
    <div class="total-body">
      {{ data.total_students }}
    </div>
  </div>

  <div class="total-card blue">
    <div class="total-header">
      Total de embajadores activos
    </div>
    <div class="total-body">
      {{ data.total_ambassadors_active }}
    </div>
  </div>

  <div class="total-card blue">
    <div class="total-header">
      Hoy Embajadores
    </div>
    <div class="total-body">
      {{ data.ambassadors_today }}
    </div>
  </div>

  <div class="total-card blue">
    <div class="total-header">
      Hoy alumnos
    </div>
    <div class="total-body">
      {{ data.students_today }}
    </div>
  </div>
</div>