<div class="totals flex-container">
  <div class="total-card green">
    <div class="total-header">
      Total de embajadores
    </div>
    <div class="total-body">
      3000
    </div>
  </div>

  <div class="total-card green">
    <div class="total-header">
      Total instructores
    </div>
    <div class="total-body">
      3000
    </div>
  </div>

  <div class="total-card green">
    <div class="total-header">
      Total de alumnos
    </div>
    <div class="total-body">
      3000
    </div>
  </div>

  <div class="total-card blue">
    <div class="total-header">
      Total de embajadores
    </div>
    <div class="total-body">
      3000
    </div>
  </div>

  <div class="total-card blue">
    <div class="total-header">
      Total instructores
    </div>
    <div class="total-body">
      3000
    </div>
  </div>

  <div class="total-card blue">
    <div class="total-header">
      Total de alumnos
    </div>
    <div class="total-body">
      3000
    </div>
  </div>
</div>