<% content_for :body_class, 'public-money' %>

<section class="main-certificates">
  <h1>Verificar certificados</h1>
  <input type="text" name="" placeholder="Digita el código del certificado" />
  <button>Validar</button>
</section>